html,body {
  height: 100%
};
body {
  margin: 0;
  /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;*/
  font-family: 'Gothic A1', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.categorieServizi::after {
  content: '\f133';
}

.categorieAllServizi::after {
  /*content: '\f2c5';*/
  content: '\f0ab';
}

.checkbox-on {
  filter: hue-rotate(251deg) brightness(1.0);
}

.checkbox-off {
  filter: hue-rotate(120deg) brightness(1.0);
}